body {
  background-color:yellow;
  color: green;
  font-size: 10;
  font-family: "Times New Roman";
}

h1 {
  color: Black;
  text-align: right;
}

p {
  color: Red;
  font-family: serif;
  font-style: bold;
}
